<!DOCTYPE html>
<html>
  <head>
    <title>AnimalApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <div class="header__bar row">
        <h1 class="grid-6"><a href="/">PicAnimals</a></h1>
        <div class="user_nav grid-6">
          <%= link_to "投稿する",new_post_path,class:"post" %>
    <%= link_to "Logout",destroy_user_session_path,method: :delete,class:"post" %>
        </div>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
